/**
 * Site Configuration
 */

//Site Colors
$red-color: #e10a32;
$orange-color: #f7a139;
$darkorange-color: #e15b26;
$grey-color: #363737;
$green-color: #5a8e22;
$blue-color: #1c304e;
$lightblue-color: #579ebc;
$roll-color:  #2a4f7a;
$lifelock-color: #224a79;
$lightgrey-color: lighten($grey-color,20%);

//Social Colors
$facebook-color: #3b5998;

//Fonts
$serif-font: "museo-slab", $georgia;
$sans-font: "proxima-nova", $helvetica;
$alt-sans-font: "museo-sans", $helvetica;

// Setup Foundation
$body-bg: #363737;
$body-font-color: #868787;
$primary-color: #fff;
$secondary-color: darken(#fff, 40%);

$alert-color: $red-color;
$success-color: $green-color;
$warning-color: lighten($red-color, 15%);
$info-color: $orange-color;
$selected-color: $lightblue-color;
$hr-color: #c4c4c4;
$highlight-color: $red-color;

$body-font-family: $serif-font;
$row-width: rem-calc(1000);
$total-columns: 12;
$default-letter-spacing: rem-calc(2);

$nav-height: 100px;
$mobile-nav-height: 80px;
$mobile-nav-link-height: rem-calc(45);


/**
 * Foundation settings
 */


$global-radius: 3px;

$small-range: (0em, 40em);
$medium-range: (40.063em, 64em);
$large-range: (64.063em, 90em);
$xlarge-range: (90.063em, 120em);
$xxlarge-range: (120.063em);
$screen: "only screen";


$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";
$medium-down: "#{$screen} and (max-width: #{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

$small-height: "#{$landscape} and (max-height: 650px)";

$form-spacing: rem-calc(16);
$form-label-line-height: 1.5;
$input-font-size: rem-calc(14);
$input-border-color: #DFDFDF;
$input-border-radius: $global-radius;

$topbar-bg-color: #494B4E;
$topbar-dropdown-bg: $primary-color;
$topbar-link-color: $info-color;

$button-font-family: $sans-font;
$button-font-color: #fff;


$table-bg: #fff;
$table-even-row-bg: #fff;
$table-border-style: none;
$table-head-bg: #f2f2f2  ;
$table-head-font-size: rem-calc(14);
$table-head-font-color: #222;
$table-head-font-weight: bold;
$table-head-padding: rem-calc(8 10 10);
$table-row-padding: rem-calc(9 10);
$table-row-font-size: rem-calc(14);
$table-row-font-color: #222;
$table-line-height: rem-calc(18);
$table-display: table-cell;
$table-margin-bottom: rem-calc(20);



$crumb-bg: $body-bg;
$crumb-padding: rem-calc(9 14 9 0);
$crumb-side-padding: rem-calc(12);

//We use these to control border styles.
$crumb-function-factor: -10%;
$crumb-border-style: none;
$crumb-radius: $global-radius;

//We use these to set various text styles for breadcrumbs.
$crumb-font-size: rem-calc(11);
$crumb-font-color: $primary-color;
$crumb-font-color-current: #333;
$crumb-font-color-unavailable: #999;
$crumb-font-transform: uppercase;
$crumb-link-decor: underline;

//We use these to control the slash between breadcrumbs
$crumb-slash-color: #aaa;
$crumb-slash: "/";


//Form
$input-include-glowing-effect: false;
$input-focus-border-color: $info-color;
$input-font-family: $sans-font;