
.footer{
	position: relative;
	background-color:$body-bg;
	.bug{
		position: absolute;
		left:10px;
		top:3px;
		width:20%;
		min-width:150px;
	}
	.inner{
		color: #fff;
		height: 128px;
		line-height: 48px;
		text-align: center;
		font-weight: normal;
		margin-bottom:25px;
		.clearfix{
			display: inline-block;
			div{
				margin-right:10px;
				&.fb{
					line-height:36px;
					width:88px;
				}
				&.gp{
					line-height: 61px;
					width:70px;
				}
				&.tw{
					line-height: 61px;
					width:80px;
				}
			}
		}
	}
	.bug-bar{
		color: #ebebeb;
		font-weight: normal;
		
	}
	.share-copy{
		margin-top:40px;
	}
}

@media #{$large-up}{

body.results-up{
	.footer{
		top: -55px;
	}
}
.footer{
	.share-copy{
		float: left;
		margin-top:0;
	}
	.inner{
		height: 48px;
	}
}

}

@media #{$small-only}{
.footer{
	.legal p{
		font-size: rem-calc(12);
	}
}
}