.input-wrap{
	position: relative;
	i{
		position: absolute;
		left:rem-calc(8);
		top: rem-calc(12.8);
		color: #d4d4d4;
	}
	input{
		text-indent: rem-calc(18);
	}
}
form{
	input{
		border-left: #fff 2px solid;
		&:focus{
			border-color: $info-color;
			border-left: $info-color 2px solid;
		}
	}
}