$h4-font-size: rem-calc(14);
h1,h2,h3,h4,h5,h6{
	font-family:$sans-font;
	text-transform: uppercase;
	letter-spacing: $default-letter-spacing;
	&.highlight{
		color: $highlight-color;
	}
	&.subheader{
		font-weight: lighter;
		text-transform: none;
	}
	&.alt{
		font-family: $serif-font;
	}
	&.lower{
		text-transform: none;
	}
	&.heavy{
		font-weight: bold;
	}
	&.space{
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
	&.em{
		font-style: italic;
	}
	span{
		&.highlight{
			color: $highlight-color;
		}
	}
	&.blue{
		color: $lightblue-color;
	}
	&.white{
		color: #fff;
	}
}
h4{
	font-size:$h4-font-size;
}
p{
	font-family:$serif-font;
}


a{
	font-family:$sans-font;
}

a.highlight{
	color: $highlight-color;
	font-family:$serif-font;
	text-decoration: underline;
	font-style: italic;
}
a.standard{
	color: $body-bg;
	font-family:$serif-font;
	text-decoration: underline;
}

$extra-row-space: 20px;
.row, .row .row{
	&.space{
		margin-top:$extra-row-space;
		margin-bottom:$extra-row-space;
	}
	&.first{
		margin-top:$extra-row-space;
	}
	&.last{
		margin-bottom:$extra-row-space;
	}
	&.callout{
		margin-top: $extra-row-space*1.2;
		margin-bottom: $extra-row-space*1.2;
	}
}

.button{
	text-transform: uppercase;
	letter-spacing: $default-letter-spacing;
	background-color: $highlight-color;
	color: $body-bg;

	&:hover{
		background-color: $roll-color;
	}

	&.add{
		text-transform: uppercase;
		background-color: $info-color;
		&:hover{
			background-color: $roll-color;
		}
	}
	&.custom{
		text-transform: uppercase;
		background-color: #000;
		&:hover{
			background-color: $roll-color;
		}
	}
	&.fb{
		background-color: $facebook-color;
		&:hover{
			background-color: $roll-color;
		}
	}
	&.continue{
		background-color: $red-color;
		color: #fff;
		border-radius: 35px;
		text-transform: none;
		font-weight:bold;
		&.space{
			margin-right:25px;

		}
		&.qa{
			
		}
		&.success{
			background-color: $green-color;
		}
		span{
			text-transform: uppercase;
			font-weight: normal;
			letter-spacing: 4px;
			//margin-right:5px;
		}
		span.rpad{
			margin-right:10px;
		}
		&.blue-over:hover{
			background-color: $roll-color;
		}
	}

	&.no-bot{
		margin-bottom: 0;
	}

	.icon{
		margin-right:20px;
	}
}

.hr-center{
	border-top: 1px solid $hr-color;
	text-align:center;
	margin-top:$h4-font-size;
	margin-bottom:$h4-font-size;
	h4{
		position:relative;
		top: -1*($h4-font-size);
		background-color: $body-bg;
		display:inline-block;
		padding-left:$h4-font-size;
		padding-right:$h4-font-size;
	}
}

.vcenter{
	
	position: relative;
	top: 50%;
	@include transform( translateY(-50%));
}

.fitter{
	position: relative;
	overflow: hidden;
	.fit{
		position: absolute;
		top:0;
		left:0;
		z-index:-1;
		min-height: none;
		min-width: none;
		max-height: none;
		max-width: none;
	}
	&>div,
	&>p{
		
	}
}

.page-title{
	margin-bottom: 55px;
	.columns{
		border-bottom: 1px solid #c4c4c4;
	}
	h2{
		font-size: rem-calc(70);
		min-height: 141px;
		line-height: 141px;
		margin:0;
	}
}

.paginate{
	min-height: 50px;
	line-height:50px;
}

.shade{
	background-color: rgba(255,255,255,0.9);
}

.tmi-word{
	font-family: $sans-font;
	font-weight: bold;
}

@media #{$medium-up}{
	.left-medium{
		float:left;
	}
}
@media #{$large-up}{
	.left-large{
		float:left;
	}
}
