

$pbtn-height: 65px;
.play-btn{
	background-image: url(../img/elements/play-btn.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	display: block;
	width: 272px;
	height: $pbtn-height;
	margin-left: auto;
	margin-right: auto;
	&:hover{
		background-position-y: -1*$pbtn-height;
	}
}
@media #{$small-only}{
$pbtn-height: 40px;
.play-btn{
	background-image: url(../img/elements/play-btn-sml.png);
	width: 167px;
	height:$pbtn-height;
	&:hover{
		background-position-y: -1*$pbtn-height;
	}
}
}

.rolls{
	display: none;
}
.roller{
	position: relative;
}
$app-height: 820px;

#app{
	position: relative;
	//min-height: 836px;
	overflow: hidden;
	&.expand{
		min-height:850px;
		#bg{
			min-height:850px !important;
		}
	}
	#bg{
		//min-height: $app-height;
		img{
			max-width: none;
			//min-height:$app-height;
		}
	}
	.border{
		border-radius: 50%;
		border: dashed #579ebc 2px;
		margin:10px;
	}
	#home{
		//Start hidden
		opacity:0;
		
		position:absolute;
		top:50%;
		left:50%;
		@include transform( translateX(-50%) translateY(-50%));
		//background-image: url(../img/elements/circle.png);
		background-repeat: no-repeat;
		//width: 630px;
		//height: 630px;
		border-radius:50%;
		background-color:white;
		
		.inside{
			position: relative;
			margin: 20px;
			width: 550px;
			height: 550px;
			padding: 90px 0;
			text-align:center;
			p{
				color: $grey-color;
				font-face:$serif-font;
				font-size: rem-calc(24);
				line-height: 1.2em;
				margin: 10px 0;
			}

		}
	}
	$warning-height: 100px;
	#warning{
		//Start Hidden
		opacity:0;
		bottom: -1*$warning-height;

		position: absolute;
		left:0;
		right:0;
		background-color: $red-color;
		color: #fff;
		height:$warning-height;
		text-align: center;
		.answer{
			color: $orange-color;
		}
		.arrow{
			@include triangle(30px, $red-color, up);
			@include transform( translateX(-50%) );
			position: absolute;
			top:-15px;
			left:50%;
		}
		.inside{
			@extend .vcenter;
			
			p{
				font-face:$serif-font;
				font-size: rem-calc(30);
			}
			
		}
	}

}
@media #{$small-height}{
#app {
	&.expand{
		
	}
	#home{
		top: 40%;
		.inside{
			width: 450px;
			height: 450px;
			p{
				font-size: rem-calc(18);
				line-height: 1.2em;
				margin: 10px 0;
			}

			img{
				max-width: 70%;
			}
		}
	}
}
}

@media #{$small-only}{

#app{
	&.expand{
		min-height:1380px;
	}
	#warning{
		height:140px;
		.inside{
			p{
				font-size: rem-calc(18);
			}
		}
	}
	#home{
		margin-top: -30px;
		.inside{
			padding: 50px 0;
			width: 300px;
			height:300px;
			img{
				width:50%
			}
			p{
				width: 90%;
				display: inline-block;
				font-size: rem-calc(15);
			}
		}
	}
}
}
@media #{$medium-only}{
#app{
	min-height:910px;
}
}


#home-below{
	min-height: 800px;
	position: relative;
	background-image: url('../img/bg/info.jpg');
	background-position: 50% 50%;
}

.disclaim{
	font-family: $sans-font;
	font-size: rem-calc(16);
}

.legal{
	font-family: $sans-font;
	font-size: rem-calc(12);
}

$fact-size: 250px;
#facts{
	position:absolute;
	top:50%;
	left:50%;
	@include transform( translateX(-50%) translateY(-50%));
	.fact{
		@include transition (background-color 500ms ease-in-out,transform 500ms ease-in-out);
		position: absolute;
		width:$fact-size;
		height:$fact-size;
		background-color: $orange-color;
		border-radius: 50%;
		@include perspective(300px);
		@include perspective-origin(50% 50%);
		@include transform( rotateY(0) );
		&.dir-up{
			top:-1*$fact-size;
		}
		&.dir-down{
			top:$fact-size/2;
		}
		&.dir-left{
			left:-1*$fact-size;
		}
		&.dir-right{
			left:$fact-size;
		}
		.info,
		.info-more{
			@include transition (opacity 500ms ease-in-out);
			position: absolute;
			top:50%;
			left:50%;
			@include transform( translateX(-50%) translateY(-50%));
			text-align: center;
			color: $grey-color;
		}
		.info-more{
			opacity:0;
			color: #fff;
			@include transform( rotateY(180deg) translateX(50%) translateY(-50%) );
		}
		&:hover{
			@include transform( rotateY(180deg) );
			//width: $fact-size*1.05;
			//height: $fact-size*1.05;
			background-color: $darkorange-color;
			
			.info{
				opacity:0;
			}
			.info-more{
				opacity: 1;
			}
		}
	}
}

.lifelock-bug{
	position: absolute;
	top: 10px;
	left: 10px;
}


@media #{$small-only}{

.lifelock-bug{
	position: absolute;
	top: 10px;
	left: 5%;
	width: 90%;
}

#home-below{
	min-height:1300px;
	background-image: none;
}
#facts{
	.play-btn{
		position: relative;
		margin-bottom: 20px;
	}
	.fact{
		margin-bottom:20px;
		&.dir-up,
		&.dir-down,
		&.dir-left,
		&.dir-right{
			top:auto;
			left:auto;
			position: relative;
		}
	}
}
}


