.modal.popover{
	width:80%;
	#ghost{
		position: absolute;
		left:-9000px;
	}
}
@media #{$small-only}{
	.modal.popover{
		width:98%;
	}
}
.modal.leaving .inner{
	overflow-y:scroll;
	overflow-x:hidden;
	-webkit-overflow-scrolling: touch;
}
.modal.video .inner{
	background-color: transparent !important;
}

.modal-bg{
	@include position(fixed, -20px);
	background-color: rgba(0,0,0,0.5);
	@include perspective(600px);
	z-index:999999;
	.modal{
		@include position(absolute, 50% auto auto 50%);
		@include transform(translate(-50%, -50%));

		.inner{

			
			min-width: 300px;
			min-height: 300px;
			background-color: white;
			a.close{
				width: 40px;
				height: 40px;
				@include position(absolute, -40px -40px auto auto);
				color: darken(white, 20%);
				background-color: #5a5355;
				border-radius: 50%;
				font-size: rem-calc(25px);
				font-weight: lighter;
				text-align: center;
				
				&:hover{
					color: darken(white, 30%);
				}
				span{
					position: relative;
					line-height: 40px;
				}
			}
			.content{
				text-align: center;
				margin-left:40px;
				margin-right:40px;
			}
		}
		
	}
}
body.md-body-setup{
	@include perspective(600px);
	@include perspective-origin(50% 50%);
	@include transition(all 0.3s);
	&.show{
		overflow: hidden;
		@include transform(scale3d(0.9,0.9,1));
	}
}
.md-effect-flip-vert{
	@include transform(scale3d(1.1,1.1,1));
	.modal{
		@include perspective(600px);
		.inner{
			@include transform-style(preserve-3d);
			@include transform(rotateX(-70deg));
			@include transition(all 0.3s);
			opacity:0;
		}
	}
	&.show{
		.modal{
			.inner{
				@include transform(rotateX(0deg));
				opacity: 1;
			}
		}
	}
	
}