

#quiz{
	position:absolute;
	top:50%;
	left:50%;
	@include transform( translateX(-50%) translateY(-50%));
	
	.inline-list{
		margin-left: 0;
	}
	&.loading{
		top:30%;
		.card .inner{
			overflow: visible !important;
		}
	}

	.card{
		position: relative;
		background-color: rgba(#fff,0.9);
		width: 700px;
		min-height: 400px;
		display:inline-block;

		&.scenario{
			
		}

		p{
			color: $grey-color;
			font-size: rem-calc(36);
			line-height: 1.2em;
			margin:0;
			&.explain{
				font-size: rem-calc(20);
				line-height: 1.2em;
				color: $lightgrey-color;
			}
		}
		img.pin{
			position: absolute;
			top: 0;
			left:0;
			width:140px;
		}
		img.notice{
			margin:20px 0;
		}
		.btns{
			margin-top: 20px;
		}

		&.transparent{
			background-color:transparent;
			h3{
				color: #fff;
				font-weight: bold;
			}
		}

		$card-header-height: 50px;
		.header{
			background-color: rgba($orange-color,0.8);
			color: #fff;
			position: absolute;
			top: -1*$card-header-height;
			left: 0;
			right: 0;
			height: $card-header-height;
			text-align: center;
			font-family: $serif-font;
			font-size: rem-calc($card-header-height/2);
			//line-height: 1.5em;
			span{
				position: absolute;
				top:12px;
				left:12px;
				font-family: $serif-font;
				//line-height: rem-calc($card-header-height/2);
			}
		}
		.inner{
			position:absolute;
			top:50%;
			left:50%;
			@include transform( translateX(-50%) translateY(-50%));
			display:block;
			text-align: center;
			margin: 0;
			width:80%;
		}

		&.image,
		&.image-set{
			.inner{
				margin-left:10%;
				width:70%;
				p{
					//font-size: rem-calc(36);
					&.explain{
						//font-size: rem-calc(20);
					}
				}
			}
		}
		&.image-set{
			img{
				position: relative;
				margin-bottom:10px;
			}
			ul{
				position: absolute;
				top:10px;
				left:0;
				bottom: 0;
				overflow: hidden;
				li{
					display: block;
				}
			}
		}
	}
}
@media #{$small-only}{
#quiz{
	top:120px;
	left:0;
	bottom:0;
	right:0;
	@include transform( none );
	.card{
		width:96%;
		margin-left:2%;
		min-height:0;
		.inner{
			overflow-y: scroll;
			overflow-x: hidden;
			-webkit-overflow-scrolling: touch;
		}
		p{
			color: black;
			font-size: rem-calc(16);
			&.explain{
				color: $grey-color;
				font-size: rem-calc(14);
			}
		}
		&.image,
		&.image-set{
			ul{
				margin:0;
			}
			.inner{
				width:70%;
				margin-left:10%;
				p{
					font-size: rem-calc(18);
					&.explain{
						font-size: rem-calc(14);
					}
				}
			}
		}
		img,
		img.pin{
			width:70px;
		}
		img.notice{
			margin:20px 0;
			width:80%;
		}
	}
	
}
}

@import 
	"quiz/parts",
	"quiz/final",
	"quiz/popover",
	"quiz/result",
	"quiz/social",
	"quiz/topbar",
	"quiz/loader";
