@charset "UTF-8";

// Default Variables

$slick-font-path: "./" !default;
$slick-loader-path: "./" !default;
$slick-bg-color: #010404;
$slick-arrow-color: #fff !default;
$slick-dot-color: $slick-bg-color !default;
$slick-prev-character: '\f103' !default;
$slick-next-character: "\f104" !default;
$slick-dot-character: '\f102' !default;

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    .slick-loading & {
        background: #fff url(#{$slick-loader-path}loader.gif) center center no-repeat;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

/* Icons */

@font-face {
    font-family:"slick";
    src:    url("#{$slick-font-path}slick.eot");
    src:    url("#{$slick-font-path}slick.eot?#iefix") format("embedded-opentype"),
            url("#{$slick-font-path}slick.woff") format("woff"),
            url("#{$slick-font-path}slick.ttf") format("truetype"),
            url("#{$slick-font-path}slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
    background-color: $slick-bg-color;
    &.slick-disabled:before {
        opacity: 0.25;
    }
    &:focus,
    &:hover,
    &:active{
        outline: none;
        background: lighten($slick-bg-color, 10%);
        color: lighten($body-font-color, 80%)!important;
    }
}
.slick-prev:before, .slick-next:before {
    font-family:"icons";
    font-size: 10px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: 0.85;
    speak:none;
    text-decoration:inherit;
    text-transform:none;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
.slick-prev{
    left:0;
     &:before {
        content: $slick-prev-character;
    }
}
.slick-next{
    right:0;
    &:before {
        content: $slick-next-character;
    }
}
@media #{$large-up}{
    .slick-prev {
        left: -35px;
       
    }
    .slick-next {
        right: -35px;
    }
}

.slick-home{
    .slick-prev,
    .slick-next{
        background-color: transparent;
    }
    .slick-prev{
        left:35px;
    }
    .slick-next{
        right:35px;
    }
    .slick-prev:before, .slick-next:before {
        font-size:30px;
    }
}



/* Dots */

.slick-slider {
    margin-bottom: 30px;
}
.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0px;
    width: 100%;

    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0px 5px;
        padding: 0px;
        cursor: pointer;

        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            outline: none;
            &:focus {
                outline: none;
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family:"icons";
                font-size: 6px;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: 0.25;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

        }

        &.slick-active button:before {
            opacity: 0.75;
        }
    }
}