@import "app";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@media #{$screen}{
body,
#cost {
  font-family: 'Open Sans', sans-serif;
  color: $body-font-color;
}

#header > h1 {
  text-align: center;
}

#header {
  h1 {
    text-align: center;
    span {
      &.title {
        display: none;
      }
      &.subtitle {
        @extend h5;
      }
    }
  }
}

#container {
  @include grid-row;
  font-size: $base-font-size;
  #header,
  #main,
  #footer {
    @include grid-column(12);
    background-image: none;
    p{
      font-size:rem-calc(10);
    }
  }

  #overview {
    @include grid-row;
    background-image: none;
    background-color: darken($body-bg,2%);
    border:none;
    #products {
      @include grid-column(6);
      border-right: none;
      #thumbs{
        span{
          color: lighten($body-font-color, 20%);
        }
        div{
          border-color:#fff;
        }
      }
    }
    #wallet{
      margin-left: 0;
      @include grid-column(6);
      #cost{
        color: $info-color;
      }
    }


    @media #{$small-only} {
      #products,
      #wallet{
        @include grid-column(12);
      }
    }
  }
}

#credit-card-info.gright{
  margin-left: 0;
}

#addresses,
#payment-method{
  div.sst,
  div.group{
    @include grid-row;
    .gleft,
    .gright {
      @include grid-column(6);
    }
    @media #{$small-only} {
      .gleft,
      .gright {
        @include grid-column(12);
      }
    }
  }
}

#buttons {
  background:none;
  border-bottom:none;
  #commit-button,
  #complete-purchase{
    @include button;
    text-transform: uppercase;
    background-color: $info-color;
  }
}



div.field-with-errors{
  border-color:$alert-color;
  background-color: lighten($alert-color, 80%);
}

}
