

$final-height: 450px;
$final-nomore-height: 350px;
$final-slant: 100px;
#final{
	position: absolute;
	left:0;
	right:0;
	top:80px;
	
	background-color: $orange-color;
	z-index:5000;
	
	.space{
		overflow: hidden;
		position: relative;
		display:block;
		margin-left:auto;
		margin-right:auto;
		width:100%;
		background-color: #fff;
		min-height: 880px;
		.larrow,
		.rarrow{
			position: absolute;
			top:0;
			width: $final-slant;
			height:$final-height;
			z-index: 100;
			display:none;
		}
		.larrow{
			left:0;
			@include triangle($final-slant $final-height, $orange-color, up-left);
		}
		.rarrow{
			right:0;
			@include triangle($final-slant $final-height, $orange-color, down-right);
		}
		.foot{
			background-color: $grey-color;
			color: #fff;
			height:145px;
			position: absolute;
			bottom:0;
			left:0;
			right:0;
			.inner{
				margin-top:20px;
			}
		}

		.inner{
			text-align: center;
			display:block;
			margin-left:auto;
			margin-right:auto;
			width:98%;
			h3{
				text-transform: none;
				font-family: $serif-font;
				margin-top: 20px;
			}
		}


		
	}

	.badge{
		margin-bottom:10px;
	}

	.earned{
		margin: 5px auto 20px auto;
		width: 70%;
		color: $body-bg;
	}

	
	.video{
		margin-bottom:50px;
		h3{
			font-size: rem-calc(18);
			margin-top:20px;
		}
		p{
			font-size: rem-calc(14);
			color: #fff;
			font-family: $sans-font;
		}
		img{
			margin-top:10px;
			border: transparent 2px solid;
			cursor: pointer;
			&:hover{
				border-color: $orange-color;
			}
		}
	}

	.more-times{
		color: $red-color;
	}

	.left-side{
		margin-top: 27px;
	}
	.right-side{
		margin-top:59px;
	}
	.social-share{
		margin-top:22px;
	}
	&.nomore{
		.foot{
			display:none;
		}
	}
}
@media #{$medium-up}{
#final{
	top:140px;
	.space{
		width:100%;
		min-height:500px;
		.inner{
			width:80%;
		}
		.foot{
			height:95px;
		}
	}
	&.nomore{
		height:500px;
		.space{
			height:500px;
		}
	}
}
}
@media #{$large-up}{
#final{
	height:$final-height;
	
	.space{
		width:70%;
		min-height:0;
		height:$final-height;
		.larrow,
		.rarrow{
			display:block;
		}
		.space{
			height:145px;
		}
	}
	&.nomore{
		height:$final-nomore-height;
		.space{
			height:$final-nomore-height;
		}
	}
	.dash-right{
		border-right: dashed $secondary-color 3px;
	}
	.video{
		margin-bottom:0;
		h3{
			margin-top: 32px;
		}
	}
}
}
