
.pre-loader {
    font-size: 60px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 100px auto;
    position: relative;
    background: $lifelock-color;
    box-shadow:
       1em 1em $lifelock-color,
       2em 2em $lifelock-color,
       1em 3em $lifelock-color,
       0em 4em $lifelock-color,
      -1em 3em $lifelock-color,
      -2em 2em $lifelock-color,
      -1em 1em $lifelock-color;
    -webkit-transform-origin: 50% 250%;
    transform-origin: 50% 250%;
    -webkit-animation: blink 1s steps(1, start) infinite, counter-clock 8s linear infinite;
    animation: blink 1s steps(1, start) infinite, counter-clock 8s linear infinite;
}

.pre-loader:after {
    content: "";
    width: 3em;
    height: 3em;
    background: red;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    background: white;
    background: rgba(255,255,255,0.6);
    left: -1em;
    top: 1em;
}

@-webkit-keyframes counter-clock {
    from { }
    to { -webkit-transform: rotate(-360deg); }
}

@keyframes counter-clock {
    from { }
    to { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
}

@-webkit-keyframes blink {
    0% { }
    12.5% {
    background: rgba(18,52,86,0.6); 
    box-shadow:
       1em 1em $lifelock-color,
       2em 2em $lifelock-color,
       1em 3em $lifelock-color,
       0em 4em $lifelock-color,
      -1em 3em $lifelock-color,
      -2em 2em $lifelock-color,
      -1em 1em $lifelock-color;
    }

    25% {
    background: $lifelock-color;
      box-shadow:
       1em 1em rgba(18,52,86,0.6),
       2em 2em $lifelock-color,
       1em 3em $lifelock-color,
       0em 4em $lifelock-color,
      -1em 3em $lifelock-color,
      -2em 2em $lifelock-color,
      -1em 1em $lifelock-color;
    }

    37.5% {
    background: $lifelock-color;
    box-shadow:
       1em 1em $lifelock-color,
       2em 2em rgba(18,52,86,0.6),
       1em 3em $lifelock-color,
       0em 4em $lifelock-color,
      -1em 3em $lifelock-color,
      -2em 2em $lifelock-color,
      -1em 1em $lifelock-color;
    }

    50% {
    background: $lifelock-color;
    box-shadow:
       1em 1em $lifelock-color,
       2em 2em $lifelock-color,
       1em 3em rgba(18,52,86,0.6),
       0em 4em $lifelock-color,
      -1em 3em $lifelock-color,
      -2em 2em $lifelock-color,
      -1em 1em $lifelock-color;
    }

    62.5% {
    background: $lifelock-color;
    box-shadow:
       1em 1em $lifelock-color,
       2em 2em $lifelock-color,
       1em 3em $lifelock-color,
       0em 4em rgba(18,52,86,0.6),
      -1em 3em $lifelock-color,
      -2em 2em $lifelock-color,
      -1em 1em $lifelock-color;
    }

    75% {
    background: $lifelock-color;
      box-shadow:
       1em 1em $lifelock-color,
       2em 2em $lifelock-color,
       1em 3em $lifelock-color,
       0em 4em $lifelock-color,
      -1em 3em rgba(18,52,86,0.6),
      -2em 2em $lifelock-color,
      -1em 1em $lifelock-color;
    }

    87.5% {
    background: $lifelock-color;
    box-shadow:
       1em 1em $lifelock-color,
       2em 2em $lifelock-color,
       1em 3em $lifelock-color,
       0em 4em $lifelock-color,
      -1em 3em $lifelock-color,
      -2em 2em rgba(18,52,86,0.6),
      -1em 1em $lifelock-color;
    }
  
    100% {
    background: $lifelock-color;
    box-shadow:
       1em 1em $lifelock-color,
       2em 2em $lifelock-color,
       1em 3em $lifelock-color,
       0em 4em $lifelock-color,
      -1em 3em $lifelock-color,
      -2em 2em $lifelock-color,
      -1em 1em rgba(18,52,86,0.6);
    }
}

@keyframes blink {
    0% { }
    12.5% {
    background: rgba(18,52,86,0.6); 
    box-shadow:
       1em 1em $lifelock-color,
       2em 2em $lifelock-color,
       1em 3em $lifelock-color,
       0em 4em $lifelock-color,
      -1em 3em $lifelock-color,
      -2em 2em $lifelock-color,
      -1em 1em $lifelock-color;
    }

    25% {
    background: $lifelock-color;
      box-shadow:
       1em 1em rgba(18,52,86,0.6),
       2em 2em $lifelock-color,
       1em 3em $lifelock-color,
       0em 4em $lifelock-color,
      -1em 3em $lifelock-color,
      -2em 2em $lifelock-color,
      -1em 1em $lifelock-color;
    }

    37.5% {
    background: $lifelock-color;
    box-shadow:
       1em 1em $lifelock-color,
       2em 2em rgba(18,52,86,0.6),
       1em 3em $lifelock-color,
       0em 4em $lifelock-color,
      -1em 3em $lifelock-color,
      -2em 2em $lifelock-color,
      -1em 1em $lifelock-color;
    }

    50% {
    background: $lifelock-color;
    box-shadow:
      1em 1em $lifelock-color,
      2em 2em $lifelock-color,
      1em 3em rgba(18,52,86,0.6),
      0em 4em $lifelock-color,
      -1em 3em $lifelock-color,
      -2em 2em $lifelock-color,
      -1em 1em $lifelock-color;
    }

    62.5% {
    background: $lifelock-color;
    box-shadow:
       1em 1em $lifelock-color,
       2em 2em $lifelock-color,
       1em 3em $lifelock-color,
       0em 4em rgba(18,52,86,0.6),
      -1em 3em $lifelock-color,
      -2em 2em $lifelock-color,
      -1em 1em $lifelock-color;
    }

    75% {
    background: $lifelock-color;
      box-shadow:
       1em 1em $lifelock-color,
       2em 2em $lifelock-color,
       1em 3em $lifelock-color,
       0em 4em $lifelock-color,
      -1em 3em rgba(18,52,86,0.6),
      -2em 2em $lifelock-color,
      -1em 1em $lifelock-color;
    }

    87.5% {
    background: $lifelock-color;
    box-shadow:
       1em 1em $lifelock-color,
       2em 2em $lifelock-color,
       1em 3em $lifelock-color,
       0em 4em $lifelock-color,
      -1em 3em $lifelock-color,
      -2em 2em rgba(18,52,86,0.6),
      -1em 1em $lifelock-color;
    }
  
    100% {
    background: $lifelock-color;
    box-shadow:
       1em 1em $lifelock-color,
       2em 2em $lifelock-color,
       1em 3em $lifelock-color,
       0em 4em $lifelock-color,
      -1em 3em $lifelock-color,
      -2em 2em $lifelock-color,
      -1em 1em rgba(18,52,86,0.6);
    }
}