span.answer{
	color: $red-color;
}
.modal.leaving{
	p{
		color: $grey-color;
	}
	.dashbox{
		border-top: $lightblue-color dashed 1px;
		border-bottom: $lightblue-color dashed 1px;
		margin: 20px 0;
		padding: 10px 0;
	}
}
.modal.video{
	width: 80%;
}
