$pop-shadow: 0 0 15px rgba(#000, 0.25);
$pop-peek: 50px;
#popover{
	z-index: 20000;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:0;
	opacity: 0;
	@include transition (all 500ms ease-in-out);
	.bug{
		opacity:0;
		font-size: rem-calc(18);
		line-height: $pop-peek;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height:$pop-peek;
		z-index:30000;
		cursor: pointer;
	}
	&.collapse{
		opacity: 1;
		height: $pop-peek;
		.bug{
			opacity:1;
		}
		.inner{
			opacity:0;
		}
		&.expand{
			.inner{
				opacity:1;
			}
			.bug{
				opacity:0;
			}
		}
	}
	&.expand{
		opacity: 1;
		height: 70%;
	}
	box-shadow: $pop-shadow;
	background-color: #fff;
	.arrow{
		@include triangle(40px 20px, #fff, up);
		position: absolute;
		left:50%;
		top:-20px;
		@include transform( translateX(-50%));
	}
	.inner{
		color: $grey-color;
		width:80%;
		
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding-top:20px;
		p{
			font-size:rem-calc(19);
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
			&.no-top{
				margin-top:4px;
			}
		}
		.disclaimer{
			color: $lightgrey-color;
			max-width: 800px;
			font-size:rem-calc(12);
			margin: 20px auto;
		}
	}

}
@media #{$small-only}{
	#popover{
		&.expand{
			height:100%;
		}
	}
}