
#result-title{
	position: absolute;
	top:90px;
	left:250px;
	font-size: rem-calc(30);
	display: none;
}

#result-play{
	position: absolute;
	top:90px;
	right:300px;
	font-size: rem-calc(16);
	text-transform: uppercase;
	display: none;
}
#result-final{
	position: absolute;
	top:90px;
	right:50px;
	font-size: rem-calc(16);
	text-transform: uppercase;
	display: none;
}
@media #{$small-only}{
	#result-title{
		top: 30px;
		left: 120px;
		font-size: rem-calc(18);
	}
	#result-play, #result-final{
		width: 46%;
		top:80px;
		font-size:rem-calc(12);
	}
	#result-play{
		right: auto;
		left:2%;
	}
	#result-final{
		right:2%;
	}
}

$question-color: #cecece;
#results{
	display:none;
	position: absolute;
	top:150px;
	bottom:40px;
	left:0;
	right:0;
	background-color: #9a9b9d;
	overflow: auto;
	.know-share{
		color: #fff;
		margin-top:10px;
		margin-bottom:10px;
	}
	.result-row{
		margin-bottom:20px;
		border:10px solid $orange-color;
		&:last-child{
			margin-bottom:100px;
		}
	}
	.question{
		
		color: $grey-color;
		background-color: $question-color;
		p{
			
			padding: 10px;
			.answer{
				color: $red-color;
			}
			&.qnumber{
				font-weight: bold;
				font-size:rem-calc(18);
			}
		}
		
	}
	.result{
		font-size: rem-calc(16);
		color: $grey-color;
		background-color: #fff;
		position: relative;
		
		@media #{$small-only}{
			.arrow{
				position: absolute;
				left:80%;
				top:0;
				@include triangle(19px, $question-color, down);
			}
		}
		@media #{$medium-up}{
			.arrow{
				position: absolute;
				left:0;
				top:50%;
				@include triangle(19px, $question-color, right);
			}
		}
		h5{
			font-size: rem-calc(18);
			text-transform: none;
		}
		.explain{
			margin-top: 20px;
			margin-bottom:20px;
		}
		.detail{
			font-size: rem-calc(14);
			color: $orange-color;
			width: 55%;
			margin-bottom:20px;
		}
	}
}