@mixin social-size($social-size, $link:''){
	$social-over: -1*$social-size;
	display: block;
	width: $social-size;
	height:$social-size;
	background-image: url(../img/elements/social-share#{$link}.png);
	&.fb{
		background-position: 0 0;
		&:hover{
			background-position: 0 $social-over;
		}
	}
	&.tw{
		background-position: -1*$social-size*1 0;
		&:hover{
			background-position: -1*$social-size*1 $social-over;
		}
	}
	&.gp{
		background-position: -1*$social-size*2 0;
		&:hover{
			background-position: -1*$social-size*2 $social-over;
		}
	}
	&.em{
		background-position: -1*$social-size*3 0;
		&:hover{
			background-position: -1*$social-size*3 $social-over;
		}
	}
	&.tu{
		background-position: -1*$social-size*4 0;
		&:hover{
			background-position: -1*$social-size*4 $social-over;
		}
	}
}
$social-size: 40px;

.social{
	@include social-size(40px);
}
.social-small{
	@include social-size(32px, '-small');
}

.social-share{
	text-align: center;
	h4{
		font-family: $serif-font;
		text-transform: none;
		color:$body-font-color;
		letter-spacing: 0;
		font-size: $h4-font-size * 1.2;
	}
	ul{
		margin:0;
		display:inline-block;
	}
	li{	
		display: block;
		float:left;
		margin-right:4px;
		&:last-child{
			margin-right:0;
		}
	}
}
@media #{$large-up}{
.social-share{
	text-align: left;
}
}
