
#topbar{
	height: 30px;
	position: absolute;
	top:0;
	left:0;
	right:0;
	background-color: $grey-color;
	z-index:10000;
	
	#logo{
		position: absolute;
		left:20px;
		top:14px;
	}
	#topnav{
		position: absolute;
		top:4px;
		right: 10px;
		a{

			color: $orange-color;
			text-transform: uppercase;
			border-bottom: $orange-color dashed;
		}
	}
	#bread{
		position: absolute;
		top:44px;
		left:250px;

		.crumb{
			float: left;
			width: 12px;
			height: 12px;
			margin-right:6px;
			border-radius: 50%;
			background-color: #fff;
			&.active{
				background-color: $orange-color;
			}
		}
	}
}

@media #{$small-only}{
#topbar{
	#logo{
		width:80px;
	}
	#bread{
		left: 115px;
	}
	#topnav{
		a{
			font-size:rem-calc(12);
		}
	}
}
}